[Unit]
Description=Watch for kubeconfig
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/mkdir -p /etc/kubernetes
ExecStartPre=/bin/bash -c 'cp /mnt/share/data/kubeconfig.node /etc/kubernetes/kubeconfig'
ExecStart=/bin/bash -c 'grep certificate-authority-data /etc/kubernetes/kubeconfig | awk \'{print $2}\' | base64 -d > /etc/kubernetes/ca.crt'
