[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
ExecStartPre=/bin/mkdir -p /var/lib/kubelet
ExecStartPre=/bin/mount --bind /var/lib/kubelet /var/lib/kubelet
ExecStartPre=/bin/mount --bind /var/log /var/log
ExecStartPre=/bin/mount --make-shared /var/lib/kubelet
ExecStartPre=/bin/mount --make-shared /var/log
ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/bin/mkdir -p /srv/kubernetes/manifests
ExecStartPre=/bin/mkdir -p /etc/kubernetes/cni/net.d
ExecStartPre=/bin/mkdir -p /etc/kubernetes/checkpoint-secrets
ExecStartPre=/bin/mkdir -p /etc/kubernetes/inactive-manifests
ExecStartPre=/bin/mkdir -p /var/lib/cni
ExecStartPre=/bin/mkdir -p /opt/cni/bin
ExecStart=/usr/local/bin/hyperkube kubelet \
        --allow-privileged \
        --anonymous-auth=false \
        --client-ca-file=/etc/kubernetes/ca.crt \
        --cluster_dns=10.3.0.10 \
        --cluster_domain=cluster.local \
        --cni-conf-dir=/etc/kubernetes/cni/net.d \
        --exit-on-lock-contention \
        --hostname-override=k8s \
        --kubeconfig=/etc/kubernetes/kubeconfig \
        --lock-file=/var/run/lock/kubelet.lock \
        --network-plugin=cni \
        --pod-manifest-path=/etc/kubernetes/manifests \
        --eviction-hard=memory.available<5% \
        --eviction-soft=memory.available<7% \
        --eviction-soft-grace-period=memory.available=2m \
        --eviction-pressure-transition-period=5m \
        --register-with-taints=fs-only=true:NoSchedule \
        --require-kubeconfig \
        --cgroups-per-qos=false \
        --enforce-node-allocatable= \
        --node-labels=node-role.kubernetes.io/master,master=true
Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
