[Unit]
Description=Wait for DNS entries
Wants=systemd-resolved.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/mkdir -p /etc/kubernetes
ExecStartPre=/bin/bash -c 'cp /data/kubeconfig.node /etc/kubernetes/kubeconfig'
ExecStart=/bin/bash -c 'cp /data/kubeconfig.node /etc/kubernetes/kubeconfig && grep certificate-authority-data /etc/kubernetes/kubeconfig | awk \'{print $2}\' | base64 -d > /etc/kubernetes/ca.crt'
